.vimsession
*.native
*.byte
_build
*.pp.tex
*.pp.pdf
*.dvi
*.waux
*~
*.pyg
*.fdb_latexmk

# /coq/
*.glob
*.vo
*.o
*.v.d
_shadow
coqj
coqj.ml
coq2html
coq2html.ml
coq2index
coq2index.ml
targets
cores
*.cmx
*.cmi
*.cmo

# whizzy
_whizzy*
*.raux
*.wdvi
._whizzy*
*.fmt
